In [303]:
import pandas as pd
import numpy as np
import connectteams as ct
import time
import openpyxl
%load_ext autoreload
%autoreload 2
import datetime

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [304]:
df1 = pd.read_excel(r"C:\Users\hussi\Downloads\Schedule-Export 2024-05-27 to 2024-07-07 (1).xlsx")
df2 = pd.read_excel(r"C:\Users\hussi\Downloads\Schedule-Export 2024-07-01 to 2024-08-04.xlsx")
# merge df and df_1
df_two_week_schedule = pd.concat([df1, df2])

#drop duplicates
df_two_week_schedule = df_two_week_schedule.drop_duplicates()

In [306]:
# Convert Date column to datetime
df_two_week_schedule['Date'] = pd.to_datetime(df_two_week_schedule['Date'])
# Convert Start and End times to datetime.time
df_two_week_schedule['Start'] = pd.to_datetime(df_two_week_schedule['Start'], format='%I:%M%p').dt.time
df_two_week_schedule['End'] = pd.to_datetime(df_two_week_schedule['End'], format='%I:%M%p').dt.time

In [307]:
split_shifts = ct.split_shifts(df_two_week_schedule)
#filter split_shifts based on the date column for 7-01-2024 to 7-14-2024
split_shifts = split_shifts[(split_shifts['Date'] >= '2024-07-01') & (split_shifts['Date'] <= '2024-07-14')]

tag_holidays = ct.holiday_tagger(split_shifts)
extract_week_from_date = ct.get_info_from_date(tag_holidays)
time_sheet = ct.create_time_sheet(extract_week_from_date)

In [308]:
time_sheet[time_sheet['Users'] == 'Derrick Alcivar'] # type: ignore

,Users,Month,Year,Holiday Hours,Regular Hours,Overtime Hours,Week
172,Derrick Alcivar,nan,nan,19.0,40.0,13.33,27
173,Derrick Alcivar,nan,nan,0.0,40.0,8.25,28

In [309]:
data = time_sheet.groupby('Users').agg({"Regular Hours":"sum", "Overtime Hours":"sum", "Holiday Hours":"sum"}).sort_values(by='Overtime Hours', ascending=False)

In [310]:
data.head(20)

                           Regular Hours  Overtime Hours  Holiday Hours
Users
Isaiah Davis                        80.0           51.67           16.0
Lazaro Cruz                         80.0           46.17            9.0
Stanley Celestin                    80.0           40.50           14.0
Bertram Plummer                     49.0           40.00            0.0
Festus Foli                         80.0           39.00            9.0
Robert Mayrant                      80.0           37.00           20.0
Carlos Campos                       80.0           32.00            8.0
Clifton King                        79.5           28.25           16.0
Sean Polese                         73.0           28.00            8.0
Nilson Fernandez Castillo           80.0           25.00           15.0
Jaime Perdomo                       80.0           24.00            8.0
Juan Morales                        80.0           23.00            8.0
Jonathan Miqueli                    80.0           22.25            0.0
Derrick Alcivar                     80.0           21.58           19.0
Sheryvel Miranda                    80.0           21.25           10.0
Isaac Adams                         80.0           19.00            7.0
Joseph Calleja                      72.0           16.00            8.0
Kristy LouisJean                    80.0           16.00            0.0
Jessica Lakatos                     80.0           16.00            0.0
Michael Vijande                     80.0           16.00            8.0